.login{
    background-image: linear-gradient(to bottom right,rgba(0, 247, 255,0.9),rgba(255, 123, 0,0.8));
    padding: 10px 1.4rem;
    border-radius: 2rem;
    transition: .7s all;
}
.login:hover{
    background-image: linear-gradient(to bottom right,rgba(255, 123, 0,0.8),rgba(0, 247, 255,0.9));
    padding: 10px 1.9rem;
}
.signup{
    background-image: linear-gradient(to bottom right,rgba(255, 123, 0,0.8),rgba(0, 247, 255,0.9));
    padding: 10px 1.4rem;
    border-radius: 2rem;
    transition: .7s all;
}
.signup:hover{
    padding: 10px 1.9rem;
    background-image: linear-gradient(to bottom right,rgba(0, 247, 255,0.9),rgba(255, 123, 0,0.8));
}
.pag-li{
    display: inline;
    margin: 0 .7px;
}
.pag-a{
    padding: 8px 1rem;
    background: black;
    color: white;
}
.pag-a:hover{
    background: white;
    border: 1px solid black;
    color: black!important;
}
